.no_decoration:hover {
  cursor: pointer;
  text-decoration: none;
}

.no_decoration:visited {
  cursor: pointer;
  text-decoration: none;
}

.no_decoration:active {
  cursor: pointer;
  text-decoration: none;
}

.no_decoration:link {
  cursor: pointer;
  text-decoration: none;
}
