@import "../style.inc.scss";

html, body {
  height: 100%;
  background-color: $main-bg-color;
  padding: 0;
  border: 0;
  margin: 0;
}

#app {
  height: 100%;
}

.full_height {
  height: 100%;
}

.auto_height {
  height: 100%;
}

.flex_column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0;
  border: 0;
  margin: 0;
  overflow: hidden;
}

.main_header {
  min-height: 80px;
  max-height: 80px;
  height: 80px;
  padding: 0;
  border: 0;
  margin: 0;
  overflow: hidden;
}

.flex_stretch {
  padding: 0;
  border: 0;
  margin: 0;
  align-self: stretch;
  flex: 1 1 auto;
  overflow: hidden;
  position: relative;
}

.fill_abs {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  border: 0;
  margin: 0;
}

.flex_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  padding: 0;
  border: 0;
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.flex_fixed {
  flex: 0 0 auto;
}

.main_nav {
  position: relative;
}

.main_nav_padding {
  padding: 0.5em;
}

.padding_half_em {
  padding: 0.5em;
}

.relative {
  position: relative;
}

.list_no_wraps_no_discs {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  list-style: none;
}

.message_list {
  overflow: hidden;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  word-wrap: break-word;
  word-break: normal;
}

.message_list_message > p:first-child {
  margin-bottom: 0;
  display: inline;
}

.message_list_message {
  display: inline;
}

.message_list_username {
  font-weight: bold;
}

.message_list_time {
  font-size: 0.93em;
}

.vscroll_auto {
  overflow-y: auto;
}

.main_nav_tgl {
  min-width: 1em;
  max-width: 1em;
  font-size: 1em;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main_nav_tgl_a {
  text-align: center;
  max-width: 1em;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.main_nav_tgl_a:hover {
  cursor: pointer;
  text-decoration: none;
}

.main_nav_tgl_a:visited {
  cursor: pointer;
  text-decoration: none;
}

.main_nav_tgl_a:active {
  cursor: pointer;
  text-decoration: none;
}

.main_nav_tgl_a:link {
  cursor: pointer;
  text-decoration: none;
}

.main_nav_list {
  list-style: none;
  padding-left: 0.5em;
  margin-bottom: 0;
}

.main_nav_sub_list {
  list-style: none;
  padding-left: 1em;
  margin-bottom: 0;
}

.main_nav_section_next_3 {
  font-size: $list-next-font-size-3;
  font-weight: $list-next-font-weight;
  display: block;
  border-bottom: 1px solid $selected-bg-color;
  background: linear-gradient(to top, $active-bg-color 50%, $main-bg-color 100%);
}

.main_nav_section_next_2 {
  font-size: $list-next-font-size-2;
  font-weight: $list-next-font-weight;
  display: block;
  border-bottom: 1px solid $selected-bg-color;
  background: linear-gradient(to top, $active-bg-color 50%, $main-bg-color 100%);
}

.main_nav_section_next_1 {
  font-size: $list-next-font-size-1;
  font-weight: $list-next-font-weight;
  display: block;
  border-bottom: 1px solid $selected-bg-color;
  background: linear-gradient(to top, $active-bg-color 50%, $main-bg-color 100%);
}

.main_nav_section_selected {
  font-size: $list-selected-font-size;
  font-weight: $list-selected-font-weight;
  display: block;
  border: 0;
  background: linear-gradient(to bottom, $active-bg-color 50%, $main-bg-color 100%);
}

.main_nav_selected_sub_item {
  font-size: $list-next-font-size-1;
  font-weight: $list-selected-font-weight;
}

.main_nav_sub_item {
  font-size: $list-next-font-size-1;
  font-weight: $list-next-font-weight;
}

.flex_vr_start {
  flex: 1 1 auto;
  order: 1;
  width: 1px;
  background-color: $selected-bg-color;
  align-self: stretch;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

.flex_vr_end {
  flex: 1 1 auto;
  order: 11;
  width: 1px;
  background-color: $selected-bg-color;
  align-self: stretch;
  margin-bottom: 0.25em;
  margin-top: 0.25em;
}

.flex_hr_start {
  flex: 1 1 auto;
  order: 1;
  height: 1px;
  background-color: $selected-bg-color;
  align-self: center;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-top: 1px;
}

.flex_hr_end {
  flex: 1 1 auto;
  order: 11;
  height: 1px;
  background-color: $selected-bg-color;
  align-self: center;
  margin-left: 0.25em;
  margin-right: 0.25em;
  margin-top: 1px;
}

.flex_fixed_layout_first {
  flex: 0 0 auto;
  order: 1;
}

.flex_fixed_layout_second {
  flex: 0 0 auto;
  order: 2;
}

.flex_fixed_layout_five {
  flex: 0 0 auto;
  order: 5;
}

.flex_fixed_layout_nine {
  flex: 0 0 auto;
  order: 9;
}

.flex_fixed_layout_ten {
  flex: 0 0 auto;
  order: 10;
}

.flex_fixed_layout_eleven {
  flex: 0 0 auto;
  order: 11;
}

.main_header_tgl {
  height: 1em;
  max-height: 1em;
  min-height: 1em;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  margin-bottom: 0.3em;
}

.main_header_tgl_a {
  height: 1em;
  max-height: 1em;
  min-height: 1em;
}

.main_header_tgl_a:hover {
  cursor: pointer;
  text-decoration: none;
}

.main_header_tgl_a:visited {
  cursor: pointer;
  text-decoration: none;
}

.main_header_tgl_a:active {
  cursor: pointer;
  text-decoration: none;
}

.main_header_tgl_a:link {
  cursor: pointer;
  text-decoration: none;
}

.main_aside {
  min-width: $right-aside-width;
}

.main_aside_tgl {
  min-width: 1em;
  max-width: 1em;
  font-size: 1em;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main_aside_tgl_a {
  text-align: center;
  max-width: 1em;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.main_aside_tgl_a:hover {
  cursor: pointer;
  text-decoration: none;
}

.main_aside_tgl_a:visited {
  cursor: pointer;
  text-decoration: none;
}

.main_aside_tgl_a:active {
  cursor: pointer;
  text-decoration: none;
}

.main_aside_tgl_a:link {
  cursor: pointer;
  text-decoration: none;
}

.main_display_area {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  overflow-y: auto;
}

.table_custom {
  display: table;
}

.table_row {
  display: table-row;
}

.table_cell {
  display: table-cell;
}

.time_padding {
  padding: 2px 0.5em;
}

.vallign_top {
  vertical-align: top;
}

.nowrap {
  white-space: nowrap;
}

.message_bullet_received {
  color: darkgreen;
}

.message_bullet_sending {
  color: chocolate;
}

.message_bullet_mine {
  color: lightgreen;
}

.message_log {
  background-color: $main-bg-chat-color;
}

.main_work_area_bottom textarea {
  vertical-align: middle;
  line-height: inherit;
  font-family: inherit;
  font-size: 1em;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.main_work_area {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  height: 100%;
}

.main_work_area_bottom {
  padding: 0.25em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0.1em;
  border-top: 1px solid $selected-bg-color;
  overflow: hidden;
  display: table;
  width: 100%;
}

.table_max_cell_middle {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.main_work_area_tabrow {
  padding: 0;
  border: 0;
  margin: 0;
  overflow: hidden;
}

.orange {
  color: $main-bg-color;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top, #faa51a, #f47a20);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}

.orange:hover {
  color: $main-bg-color;
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top, #f88e11, #f06015);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.orange:active {
  color: $main-bg-color;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top, #f47a20, #faa51a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
